In [ ]:
pip install kaggle

In [ ]:
pip install kagglehub

In [ ]:
import os
import pandas as pd

In [ ]:
# Define your local data path
data_path = '../data/goodbooks-10k'  # adjust path if needed

# Load all available CSV files
books = pd.read_csv(os.path.join(data_path, 'books.csv'))
ratings = pd.read_csv(os.path.join(data_path, 'ratings.csv'))
to_read = pd.read_csv(os.path.join(data_path, 'to_read.csv'))
book_tags = pd.read_csv(os.path.join(data_path, 'book_tags.csv'))
tags = pd.read_csv(os.path.join(data_path, 'tags.csv'))

# Quick verification:
print(f"books.csv shape: {books.shape}")
print(f"ratings.csv shape: {ratings.shape}")
print(f"to_read.csv shape: {to_read.shape}")
print(f"book_tags.csv shape: {book_tags.shape}")
print(f"tags.csv shape: {tags.shape}")

# Preview few rows from each file:
print("\nBooks sample:")
print(books.head())

print("\nRatings sample:")
print(ratings.head())

print("\nTo-Read sample:")
print(to_read.head())

print("\nBook Tags sample:")
print(book_tags.head())

print("\nTags sample:")
print(tags.head())

books.csv shape: (10000, 23)
ratings.csv shape: (5976479, 3)
to_read.csv shape: (912705, 2)
book_tags.csv shape: (999912, 3)
tags.csv shape: (34252, 2)

Books sample:
   book_id  goodreads_book_id  best_book_id  work_id  books_count       isbn  \
0        1            2767052       2767052  2792775          272  439023483
1        2                  3             3  4640799          491  439554934
2        3              41865         41865  3212258          226  316015849
3        4               2657          2657  3275794          487   61120081
4        5               4671          4671   245494         1356  743273567

         isbn13                      authors  original_publication_year  \
0  9.780439e+12              Suzanne Collins                     2008.0
1  9.780440e+12  J.K. Rowling, Mary GrandPré                     1997.0
2  9.780316e+12              Stephenie Meyer                     2005.0
3  9.780061e+12                   Harper Lee                     1960.0
4  9.780743e+12          F. Scott Fitzgerald                     1925.0

                             original_title  ... ratings_count  \
0                          The Hunger Games  ...       4780653
1  Harry Potter and the Philosopher's Stone  ...       4602479
2                                  Twilight  ...       3866839
3                     To Kill a Mockingbird  ...       3198671
4                          The Great Gatsby  ...       2683664

  work_ratings_count  work_text_reviews_count  ratings_1  ratings_2  \
0            4942365                   155254      66715     127936
1            4800065                    75867      75504     101676
2            3916824                    95009     456191     436802
3            3340896                    72586      60427     117415
4            2773745                    51992      86236     197621

   ratings_3  ratings_4  ratings_5  \
0     560092    1481305    2706317
1     455024    1156318    3011543
2     793319     875073    1355439
3     446835    1001952    1714267
4     606158     936012     947718

                                           image_url  \
0  https://images.gr-assets.com/books/1447303603m...
1  https://images.gr-assets.com/books/1474154022m...
2  https://images.gr-assets.com/books/1361039443m...
3  https://images.gr-assets.com/books/1361975680m...
4  https://images.gr-assets.com/books/1490528560m...

                                     small_image_url
0  https://images.gr-assets.com/books/1447303603s...
1  https://images.gr-assets.com/books/1474154022s...
2  https://images.gr-assets.com/books/1361039443s...
3  https://images.gr-assets.com/books/1361975680s...
4  https://images.gr-assets.com/books/1490528560s...

[5 rows x 23 columns]

Ratings sample:
   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

To-Read sample:
   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

Book Tags sample:
   goodreads_book_id  tag_id   count
0                  1   30574  167697
1                  1   11305   37174
2                  1   11557   34173
3                  1    8717   12986
4                  1   33114   12716

Tags sample:
   tag_id tag_name
0       0        -
1       1     --1-
2       2    --10-
3       3    --12-
4       4   --122-

In [ ]:
# import pandas as pd
# import os

# # Load books.csv
# data_path = '../data/goodbooks-10k'
# books = pd.read_csv(os.path.join(data_path, 'books.csv'))

# # Total number of books
# total_books = len(books)

# # Total number of unique languages (excluding NaN)
# unique_languages = books['language_code'].nunique()

# # Number of books with missing language_code
# missing_languages = books['language_code'].isnull().sum()

# # Count number of books per language
# books_per_language = books['language_code'].value_counts()

# # Full list of languages
# languages_list = books['language_code'].dropna().unique()

# # Print summary
# print(f"Total number of books: {total_books}")
# print(f"Total unique languages: {unique_languages}")
# print(f"Number of books missing language info: {missing_languages}\n")

# print("Number of books per language:")
# print(books_per_language)

# print("\nList of languages:")
# print(languages_list)

In [4]:
import pandas as pd
import os

# Load books.csv
data_path = '../data/goodbooks-10k'
books = pd.read_csv(os.path.join(data_path, 'books.csv'))

# Drop books where publication year is missing
books = books.dropna(subset=['original_publication_year'])

# Convert year to integer for consistency
books['original_publication_year'] = books['original_publication_year'].astype(int)

# Verify
print(f"Total books after cleaning: {len(books)}")

# Save the cleaned dataframe (replacing the original file)
books.to_csv(os.path.join(data_path, 'books.csv'), index=False)

Total books after cleaning: 9979

In [1]:
import pandas as pd
import os

# Load the cleaned books.csv
data_path = '../data/goodbooks-10k'
books = pd.read_csv(os.path.join(data_path, 'books.csv'))

# Print first few rows
# print(books.head())

# Or print a random sample of 10 books
print("\nRandom sample of books:")
books.sample(10)

Random sample of books:

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
2256,2259,17841,17841,11221066,201,015603297X,9.780156e+12,"Umberto Eco, William Weaver",1988,Il pendolo di Foucault,...,40829,48898,2649,1633,3603,10343,16318,17001,https://images.gr-assets.com/books/1396645125m...,https://images.gr-assets.com/books/1396645125s...
1567,1570,7442,7442,208153,45,553380648,9.780553e+12,Tom Wolfe,1968,The Electric Kool-Aid Acid Test,...,54848,58254,1529,982,3287,13596,21988,18401,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
7441,7457,9864913,9864913,14756358,14,014310425X,9.780143e+12,Devdutt Pattanaik,2010,Jaya: An Illustrated Retelling of the Mahabharata,...,9534,10597,840,82,220,1487,4542,4266,https://images.gr-assets.com/books/1357361164m...,https://images.gr-assets.com/books/1357361164s...
4939,4949,2659997,2659997,3340863,35,61628018,9.780062e+12,"Elissa Wall, Lisa Pulitzer",2008,Stolen Innocence: My Story of Growing Up in a ...,...,19468,21574,1882,191,1069,5804,8373,6137,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
9697,9718,13414599,13414599,18713712,25,449014398,9.780449e+12,"Gretchen Rubin, Käthe Mazur",2012,"Happier at Home: Kiss More, Jump More, Abandon...",...,6058,12025,1630,372,1563,4144,3844,2102,https://images.gr-assets.com/books/1344014249m...,https://images.gr-assets.com/books/1344014249s...
9586,9607,81992,81992,1192005,26,1841493341,9.781841e+12,Charles Stross,2003,Singularity Sky,...,9887,11169,442,151,687,2924,4749,2658,https://images.gr-assets.com/books/1446324638m...,https://images.gr-assets.com/books/1446324638s...
8621,8639,15811520,15811520,21536784,10,1594205345,9.781594e+12,Charlie LeDuff,2013,NaN,...,9860,11103,1692,172,499,2343,4785,3304,https://images.gr-assets.com/books/1350363602m...,https://images.gr-assets.com/books/1350363602s...
2013,2016,4494917,4494917,4487466,81,593057058,9.780593e+12,Lee Child,2009,Gone Tomorrow,...,51570,59755,2359,411,1270,9698,24969,23407,https://images.gr-assets.com/books/1328395497m...,https://images.gr-assets.com/books/1328395497s...
1311,1314,22463,22463,481941,1004,785819118,9.780786e+12,Charles Darwin,1859,On the Origin of Species by Means of Natural S...,...,64162,74056,1729,2513,4297,15150,22868,29228,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...
5019,5029,112675,112675,108493,45,64473627,9.780064e+12,Louise Rennison,2001,Knocked out by my nunga-nungas,...,24077,26587,590,400,1362,6431,8864,9530,https://s.gr-assets.com/assets/nophoto/book/11...,https://s.gr-assets.com/assets/nophoto/book/50...

In [ ]:
import pandas as pd

# Load the books.csv file
data_path = '../data/goodbooks-10k'
books = pd.read_csv(os.path.join(data_path, 'books.csv'))

# Define common variations of J.K. Rowling's name
name_variations = [ 'sartre', 'sarter']]

# Combine into a regex pattern for case-insensitive search
pattern = '|'.join(name_variations)

# Search for rows where the 'author' column contains any of the variations
rowling_books = books[books['authors'].str.lower().str.contains(pattern, na=False)]

# Display result
print(rowling_books['title'].unique())

['Nausea' 'Being and Nothingness' 'No Exit and Three Other Plays'
 'No Exit' 'The Wall' 'Existentialism Is a Humanism'
 'The Wretched of the Earth']

In [14]:
import pandas as pd
import os

# Load the books.csv file
data_path = '../data/goodbooks-10k'
books = pd.read_csv(os.path.join(data_path, 'books.csv'))

# Count unique authors
unique_authors = books['authors'].nunique()

# Print the count
print(f"Number of unique authors: {unique_authors}")

Number of unique authors: 4653

In [ ]:
# Define Persian language variations
persian_lang_variants = ['per', 'persian', 'fa']

# Filter rows where language column matches any variant (case-insensitive)
persian_books = books[books['language_code'].str.lower().isin(persian_lang_variants)]
# Show only the book titles
print(persian_books['title'])

6148       عقاید یک دلقک
6759        رباعيات خيام
7469              سینوهه
7623       درخت زیبای من
8319    ماهی سیاه کوچولو
8864       سمفونی مردگان
9837            هشت کتاب
Name: title, dtype: object

In [13]:
# Total unique book IDs in ratings file
total_unique_books_in_ratings = ratings['book_id'].nunique()

# Total unique book IDs in books file (metadata)
total_unique_books_in_books = books['book_id'].nunique()

print(f"Unique book IDs in ratings.csv: {total_unique_books_in_ratings}")
print(f"Unique book IDs in books.csv: {total_unique_books_in_books}")

Unique book IDs in ratings.csv: 10000
Unique book IDs in books.csv: 9979

In [17]:
# Group by title and collect all unique years per title
title_years = books.groupby('title')['original_publication_year'].unique()

# Filter only titles that have more than 1 unique year
multiple_year_titles = title_years[title_years.apply(lambda x: len(x) > 1)]

# Print count
print(f"Number of titles with multiple publication years: {len(multiple_year_titles)}")

# Print sample (first 10 titles)
for title, years in multiple_year_titles.head(10).items():
    print(f"\nTitle: {title}")
    print(f"Years: {sorted(years)}")

# Total unique book IDs in ratings file
total_unique_books_in_ratings = ratings['book_id'].nunique()

# Total unique book IDs in books file (metadata)
total_unique_books_in_books = books['book_id'].nunique()

Number of titles with multiple publication years: 33

Title: 'Salem's Lot
Years: [1975, 2005]

Title: Anatomy for the Artist
Years: [1953, 2001]

Title: Arcadia
Years: [1993, 2012]

Title: Are You My Mother?
Years: [1960, 2012]

Title: Bambi
Years: [1923, 1941]

Title: Between the Lines (Between the Lines, #1)
Years: [2011, 2012]

Title: Invisible
Years: [2009, 2014]

Title: Leviathan
Years: [1651, 1992]

Title: Monster
Years: [1999, 2005]

Title: One Flew Over the Cuckoo's Nest
Years: [1962, 1970]

In [19]:
import pandas as pd
import os

# Load data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(f"{data_path}/books.csv")
ratings = pd.read_csv(f"{data_path}/ratings.csv")

# Create decade column and merge
books['decade'] = (books['original_publication_year'] // 10) * 10
merged_df = ratings.merge(books[['book_id', 'decade']], on='book_id')

# Groupby decade: count unique books & total ratings
summary = merged_df.groupby('decade').agg(
    unique_books=('book_id', 'nunique'),
    total_ratings=('rating', 'count')
).reset_index().sort_values('decade')

total_ratings_sum = summary['total_ratings'].sum()
print(f"Sum of total ratings from summary: {total_ratings_sum}")

total_ratings_actual = len(ratings)
print(f"Total number of ratings from ratings.csv: {total_ratings_actual}")


# Print results
print("Unique books per decade and total ratings:")
print(summary)

Sum of total ratings from summary: 5970537
Total number of ratings from ratings.csv: 5976479
Unique books per decade and total ratings:
    decade  unique_books  total_ratings
0    -1750             1            730
1     -770             1            756
2     -750             2           3944
3     -720             1           6301
4     -560             1           1548
..     ...           ...            ...
78    1970           400         244194
79    1980           704         443368
80    1990          1360         847948
81    2000          3121        1808808
82    2010          3067        1268418

[83 rows x 3 columns]

In [20]:
# How many unique book_ids exist in ratings but not in books
missing_books = set(ratings['book_id']) - set(books['book_id'])
print(f"Number of book_ids in ratings.csv not found in books.csv: {len(missing_books)}")

Number of book_ids in ratings.csv not found in books.csv: 21

In [21]:
import pandas as pd
import os

# Load data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(os.path.join(data_path, 'books.csv'))
ratings = pd.read_csv(os.path.join(data_path, 'ratings.csv'))

# Find book_ids that exist in ratings but not in books
book_ids_in_books = set(books['book_id'])
book_ids_in_ratings = set(ratings['book_id'])
missing_book_ids = book_ids_in_ratings - book_ids_in_books

# Get ratings corresponding to missing book_ids
missing_ratings = ratings[ratings['book_id'].isin(missing_book_ids)]

# Count how many ratings are missing
missing_ratings_count = len(missing_ratings)

print(f"Missing ratings count (from missing book_ids): {missing_ratings_count}")

# Compare with gap
total_ratings = len(ratings)
ratings_after_merge = 5970537  # This is your merged sum above
gap = total_ratings - ratings_after_merge

print(f"Gap between ratings.csv and merged summary: {gap}")
print(f"Does it match? {'✅ YES' if gap == missing_ratings_count else '❌ NO'}")

Missing ratings count (from missing book_ids): 5942
Gap between ratings.csv and merged summary: 5942
Does it match? ✅ YES

In [22]:
total_books = books['book_id'].nunique()
print(f"Total unique books: {total_books}")

Total unique books: 9979

In [23]:
total_ratings = len(ratings)
print(f"Total ratings: {total_ratings}")

Total ratings: 5976479

In [24]:
# Add decade
books['decade'] = (books['original_publication_year'] // 10) * 10

# Count books per decade (this is from full books.csv not merged one!)
books_per_decade = books.groupby('decade')['book_id'].nunique().reset_index(name='unique_books')

# Summation of books across decades
total_books_from_decades = books_per_decade['unique_books'].sum()

print("Books per decade:")
print(books_per_decade)
print(f"\nSummation of books across decades: {total_books_from_decades}")

Books per decade:
    decade  unique_books
0    -1750             1
1     -770             1
2     -750             2
3     -720             1
4     -560             1
..     ...           ...
78    1970           400
79    1980           704
80    1990          1360
81    2000          3121
82    2010          3067

[83 rows x 2 columns]

Summation of books across decades: 9979

In [27]:
import pandas as pd
import os

# Load data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(f"{data_path}/books.csv")
ratings = pd.read_csv(f"{data_path}/ratings.csv")

# Filter ratings where book_id exists in books
valid_book_ids = set(books['book_id'])
ratings_clean = ratings[ratings['book_id'].isin(valid_book_ids)]

# Calculate how many ratings were deleted
deleted_ratings = len(ratings) - len(ratings_clean)

# Calculate how many unique book_ids were deleted
all_rated_book_ids = set(ratings['book_id'])
deleted_book_ids = all_rated_book_ids - valid_book_ids
deleted_book_ids_count = len(deleted_book_ids)

# Report & overwrite
print(f"Deleted ratings: {deleted_ratings}")
print(f"Unique book_ids deleted: {deleted_book_ids_count}")

ratings_clean.to_csv(f"{data_path}/ratings.csv", index=False)

Deleted ratings: 5942
Unique book_ids deleted: 21

In [ ]:
import pandas as pd
import os

# Load cleaned data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(f"{data_path}/books.csv")
ratings = pd.read_csv(f"{data_path}/ratings.csv")

# 1️⃣ Count unique book_id in books.csv
unique_books_in_books = books['book_id'].nunique()
print(f"Total unique book_ids in books.csv: {unique_books_in_books}")

# 2️⃣ Count unique book_id in ratings.csv
unique_books_in_ratings = ratings['book_id'].nunique()
print(f"Total unique book_ids in ratings.csv: {unique_books_in_ratings}")

# 3️⃣ Count total ratings
total_ratings = len(ratings)
print(f"Total ratings: {total_ratings}")

# 4️⃣ Compute decade column
books['decade'] = (books['original_publication_year'] // 10) * 10

# 5️⃣ Count number of unique books per decade
books_per_decade = books.groupby('decade')['book_id'].nunique().reset_index(name='unique_books_per_decade')
books_per_decade = books_per_decade.sort_values('decade')

print("\nBooks per decade:")
print(books_per_decade)

# 6️⃣ Verify summation of books across decades
total_books_from_decades = books_per_decade['unique_books_per_decade'].sum()
print(f"\nSummation of books across decades: {total_books_from_decades}")

Total unique book_ids in books.csv: 9979
Total unique book_ids in ratings.csv: 9979
Total ratings: 5970537

Books per decade:
    decade  unique_books_per_decade
0    -1750                        1
1     -770                        1
2     -750                        2
3     -720                        1
4     -560                        1
..     ...                      ...
78    1970                      400
79    1980                      704
80    1990                     1360
81    2000                     3121
82    2010                     3067

[83 rows x 2 columns]

Summation of books across decades: 9979

9979

In [44]:
books_per_decade

11

In [50]:
import pandas as pd
import os

# Load cleaned data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(f"{data_path}/books.csv")

# Create decade column
books['decade'] = (books['original_publication_year'] // 10) * 10

# Replace decades before 1920 with 'Ancient Books'
books['decade_grouped'] = books['decade'].apply(lambda x: 'Ancient Books' if x < 1920 else int(x))

# Count unique book_ids per grouped decade
books_per_decade = books.groupby('decade_grouped')['book_id'].nunique().reset_index(name='unique_books_per_decade')

# Sort (Ancient Books first, then by decade)
books_per_decade['decade_grouped'] = books_per_decade['decade_grouped'].astype(str)
books_per_decade = books_per_decade.sort_values(by='decade_grouped')

# Print result
print(books_per_decade)

# Verify sum still equals total books
total_books_from_decades = books_per_decade['unique_books_per_decade'].sum()
print(f"\nTotal books after grouping: {total_books_from_decades}")

   decade_grouped  unique_books_per_decade
0            1920                       89
1            1930                      121
2            1940                      155
3            1950                      210
4            1960                      272
5            1970                      400
6            1980                      704
7            1990                     1360
8            2000                     3121
9            2010                     3067
10  Ancient Books                      480

Total books after grouping: 9979

In [37]:
import pandas as pd
import os

# Load cleaned data
data_path = '../data/goodbooks-10k'
books = pd.read_csv(f"{data_path}/books.csv")
ratings = pd.read_csv(f"{data_path}/ratings.csv")

# Step 1: Create decade column and group into Ancient Books
books['decade'] = (books['original_publication_year'] // 10) * 10
books['decade_grouped'] = books['decade'].apply(lambda x: 'Ancient Books' if x < 1920 else int(x))

# Step 2: Merge ratings with books (attach decade info)
merged_df = ratings.merge(books[['book_id', 'decade_grouped']], on='book_id', how='left')

# Step 3: Rename columns for clarity
final_df = merged_df.rename(columns={'decade_grouped': 'decade'})

# Step 4: Reorder columns
final_df = final_df[['user_id', 'book_id', 'rating', 'decade']]

# Step 5: Save final dataset
final_df.to_csv(f"{data_path}/final_svd_dataset.csv", index=False)

# Print sample and shape for verification
print(final_df.head())
print(f"\nFinal dataset shape: {final_df.shape}")

   user_id  book_id  rating decade
0        1      258       5   2000
1        2     4081       4   2000
2        2      260       5   1930
3        2     9296       5   1970
4        2     2318       3   1990

Final dataset shape: (5970537, 4)

In [ ]:
import pandas as pd
import os

# Load your cleaned final dataset
data_path = '../data/goodbooks-10k'
final_df = pd.read_csv(f"{data_path}/final_svd_dataset.csv")

# Count number of ratings per user
reviews_per_user = final_df.groupby('user_id')['rating'].count()

# Average rating per user
average_rating_per_user = final_df.groupby('user_id')['rating'].mean()

# Print basic stats
print(reviews_per_user.describe())

# Print users with fewest ratings
print("\nUsers with fewest ratings:")
print(reviews_per_user.sort_values().head(10))

# Count unique users and books
unique_users = final_df['user_id'].nunique()
unique_books = final_df['book_id'].nunique()

print(f"\nTotal number of unique users: {unique_users}")
print(f"Total number of unique books: {unique_books}")

# Get min/max ratings per user
min_ratings = reviews_per_user.min()
max_ratings = reviews_per_user.max()
avg_ratings_per_user = reviews_per_user.mean()

print(f"Minimum number of ratings per user: {min_ratings}")
print(f"Maximum number of ratings per user: {max_ratings}")
print(f"Average number of ratings per user: {avg_ratings_per_user:.2f}")

# Print basic stats for average *rating scores* per user
print("\nAverage rating score per user:")
print(average_rating_per_user.describe())

count    53424.000000
mean       111.757581
std         26.075621
min         19.000000
25%         96.000000
50%        111.000000
75%        128.000000
max        200.000000
Name: rating, dtype: float64

Users with fewest ratings:
user_id
34590    19
32128    20
43675    20
51725    21
42736    21
40753    21
37640    22
34099    22
50918    22
25856    22
Name: rating, dtype: int64

Total number of unique users: 53424
Total number of unique books: 9979
Minimum number of ratings per user: 19
Maximum number of ratings per user: 200
Average number of ratings per user: 111.76

Average rating score per user:
count    53424.000000
mean         3.928487
std          0.449549
min          1.000000
25%          3.633663
50%          3.920455
75%          4.223236
max          5.000000
Name: rating, dtype: float64

In [54]:
books_per_decade

   decade_grouped  unique_books_per_decade
0            1920                       89
1            1930                      121
2            1940                      155
3            1950                      210
4            1960                      272
5            1970                      400
6            1980                      704
7            1990                     1360
8            2000                     3121
9            2010                     3067
10  Ancient Books                      480

In [55]:
final_df

         user_id  book_id  rating decade
0              1      258       5   2000
1              2     4081       4   2000
2              2      260       5   1930
3              2     9296       5   1970
4              2     2318       3   1990
...          ...      ...     ...    ...
5970532    49925      510       5   1990
5970533    49925      528       4   1990
5970534    49925      722       4   1990
5970535    49925      949       5   1990
5970536    49925     1023       4   1990

[5970537 rows x 4 columns]