In [2]:
pip install surprise

Requirement already satisfied: surprise in /home/moshtasa/Research/phd-svd-recsys/Recommender Systems/.venv/lib/python3.9/site-packages (0.1)
Requirement already satisfied: scikit-surprise in /home/moshtasa/Research/phd-svd-recsys/Recommender Systems/.venv/lib/python3.9/site-packages (from surprise) (1.1.4)
Requirement already satisfied: joblib>=1.2.0 in /home/moshtasa/Research/phd-svd-recsys/Recommender Systems/.venv/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.5.1)
Requirement already satisfied: numpy>=1.19.5 in /home/moshtasa/Research/phd-svd-recsys/Recommender Systems/.venv/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.23.5)
Requirement already satisfied: scipy>=1.6.0 in /home/moshtasa/Research/phd-svd-recsys/Recommender Systems/.venv/lib/python3.9/site-packages (from scikit-surprise->surprise) (1.13.1)
Note: you may need to restart the kernel to use updated packages.

In [ ]:
pip install docx

In [ ]:
from docx import Document

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
df_final = pd.read_csv("../data/df_final.csv")

In [6]:
df_final.head()

   user_id  app_id           category  rating
0        1       1           Strategy       4
1        2       2             Puzzle       3
2        3       3           Business       2
3        4       4         Simulation       1
4        5       5  Books & Reference       3